<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida! Confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Data da pergunta: </strong> {{ created_at }} <br />
  <strong>Resposta: </strong> {{ answer }}<br />
  <strong>Data de término: </strong> {{ answer_at }}<br />

  <br />
  <small>
    Aguardamos sua presença na gympoint mais próxima!
  </small>
</p>
